// Maps
$bordestrailercolor:(borde1:blueviolet, borde2:red);
$anchobordestrailer:(ancho:5px solid);

@each $clave1, $valor1 in $anchobordestrailer{
    .bordetrailer-#{$clave1}{
        border: $valor1;

    }
}

@each $clave, $valor in $bordestrailercolor{
    .colortrailer-#{$clave}{
        border-color: $valor ;
    }
}
// ----------------------------------
.zoom {
    margin-left: 30px;
    transition: .5s;

    &:hover {
        transform: scale(1.1);
    }
}

.zoompersonaje {

    &:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 15px 15px #ec731e;
        -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

