.text__bienvenido {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
    color: mediumslateblue;
  }

  .textoparrafo__inicio {
    font-family: 'Roboto Mono', monospace;
    color: white;
  }

  .titulos__web {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 22px;
    color: mediumslateblue;
  }

  .textoparrafos__web {
    font-size: 20px;
    left: 5px;
    top: 105px;
    font-family: 'Roboto Mono', monospace;
    color: white;
  }

  .titulos__webjuegos {
    font-family: 'Cinzel Decorative', cursive;
    color: mediumslateblue;
  
  }
  
  .textoparrafos__webjuegos {
    font-family: 'Roboto Mono', monospace;
    color: white;
  }.titulos__webjuegos {
  font-family: 'Cinzel Decorative', cursive;
  color: mediumslateblue;

}

.textoparrafos__webjuegos {
  font-family: 'Roboto Mono', monospace;
  color: white;
}