@import "estructura";
@import "tipografias";
@import "efectos";
@import "imagenes";

@media only screen and (max-width:768px) {

    /* pagina juegos.html */
    .images__juegos {
        position: relative;
        top: 80px;
        left: 8px;
        width: 200px;
        height: 100px;
        float: left;
        z-index: 2;
        border-radius: 3%;
        box-shadow: 6px 9px 12px black;
        filter: brightness(60%);
    }

    .titulos__webjuegos {
        font-family: 'Cinzel Decorative', cursive;
        font-size: 19px;
        color: mediumslateblue;
        max-width: 90%;
    }

    .textoparrafos__webjuegos {
        font-size: 13px;
        left: 5px;
        font-family: 'Roboto Mono', monospace;
        color: white;
        max-width: 90%;
    }

    .images__personajes {
        height: 80px;
        margin: 10px;
      }

}

